<mat-card *ngIf="mail$ | async as mail" class="mail-entry">
  <mat-icon (click)="location.back()">back</mat-icon>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>
      <span class="sender">{{ mail.from.text }}</span>
      <span right class="timestamp">{{ mail.date | date : "dd/MM/yyyy h:mm a" }}</span>
    </mat-card-title>
    <mat-card-subtitle>
      <span class="subject">{{ mail.subject }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content [innerHTML]="mail.html">
  </mat-card-content>
  <mat-card-actions *ngIf="mail.isInvitation">
    <button mat-button>ACCEPT</button>
    <button mat-button>TENTATIVE</button>
    <button mat-button>DECLINE</button>
  </mat-card-actions>
</mat-card>