// @import '~material-design-icons/iconfont/material-icons.css';
@import '~froala-editor/css/froala_editor.min.css';
@import '~froala-editor/css/froala_style.css';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

div {
  width: 100%;
  height: 100%;
}